<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="PHP7.1" />
            <add name="PHP7.1" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="D:\php\PHP7.4\php-cgi.exe" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
